.roast-card-header{
    color:red;
}
.roast-card{

    margin:1em auto;
    border: 1px solid black;
    max-width: 100%;
    width:302px;

}
.roast-card img{
    width:300px;
    display: block;
    margin:auto;
}